<!DOCTYPE html>
<html style='height:100%'>
    <!--
    <head>
        <title>AJC</title>

        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width">

        <!--javascript--><!--
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/bootstrap.css" media="screen" />
        <link rel="stylesheet" href="/static/stylesheets/style_menu.css" >
        <!--<link type="text/css" rel="stylesheet" href="/static/stylesheets/materialize.min.css"  media="screen,projection"/>THIS IS THE SHIT need to treplace--><!--
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css" media="screen,projection">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


        <!--javascript--><!--
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <!--<script type="text/javascript" src="/static/js/materialize.min.js"></script>--><!--
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>
        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>


    </head>
    -->
    <head>
        <title>AJC</title>

        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <link rel="stylesheet" href="/static/stylesheets/style_menu.css" >
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/static/stylesheets/bootstrap.css" media="screen" />


        <link type="text/css" rel="stylesheet" href="/static/stylesheets/materialize.min.css"  media="screen,projection"/>


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css" media="screen,projection">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>

        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.grey-light_blue.min.css" />
        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">



        <script type="text/javascript" src="/static/js/materialize.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
        <script src="/static/js/scroll.js"></script>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    </head>
    <body style="overflow-x:hidden">
        <div class="top-banner">
            <div class="content-container">
                <div class='body-container'>
                    <div class="about-article">
                          <h1 class="main-header">Alexander<br>Comerford</h1>
                          <p class="main-about">
                              Engineer  /  Developer  /  Designer
                          </p>
                          <p class="main-info" >
                              <br>
                              I'm from Manhasset, New York<br>
                              Welcome to my website!<br>
                              Click or Scroll to learn more about me.
                          </p>
                          <p class="main-about" >
                              **This is a work in progress**
                          </p>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <br><br>
                <div class="buttons">
                    <button id="about-button" class="btn-large waves-effect waves-dark white blue-grey-text text-darken-3 z-depth-5" style="border-radius: 5px">
                        <i class="small mdi-action-perm-contact-cal left"></i><b>About</b>
                    </button>
                    &nbsp;&nbsp;
                    <button id="projects-button" class="btn-large waves-effect waves-dark white blue-grey-text text-darken-3 z-depth-5" style="border-radius: 5px">
                        <i class="small mdi-action-assessment left"></i><b>Projects</b>
                    </button>
                    &nbsp;&nbsp;
                    <button id="contact-button" class="btn-large waves-effect waves-dark white blue-grey-text text-darken-3 z-depth-5" style="border-radius: 5px">
                        <i class="small mdi-communication-email left"></i><b>Contact</b>
                    </button>
                    &nbsp;&nbsp;
                    <button id="resume-button" class="btn-large waves-effect waves-dark white blue-grey-text text-darken-3 z-depth-5" style="border-radius: 5px">
                        <i class="small mdi-action-description left"></i><b>Résumé</b>
                    </button>
                    &nbsp;&nbsp;
                    <button id="extra-button" class="btn-large waves-effect waves-dark white blue-grey-text text-darken-3 z-depth-5" style="border-radius: 5px">
                        <i class="small mdi-action-toc left"></i><b>Extra</b>
                    </button>
                </div>
            </div>
        </div>

        <div id="about-div" class="div1" style="background-color:rgb(116,145,159);"></div>

        <div class="about-section">
            <div class="section-header-container"><h1 class="section-header z-depth-5" style="width:200px">About</h1></div>
            <div class="section-header-container"><div class="pic z-depth-5"></div></div>
            <div class="section-content z-depth-5">
                <p class="content-style">
                    My name is Alexander Comerford and welcome to my website. I'm a student at
                    <a target="_blank" href="http://www.sunycnse.com/Home.aspx">SUNY Polytechnic Institute</a>
                    entering my third year. I am pursuing a degree in Nanoscale Engineering with a 3.64 GPA and am graduating in May 2017.
                    Take a look on my Résumé for more about me.
                </p>
                <p class="content-style">
                    My passions include MEMS, Semiconductor design, Machine Learning, and Data Mining.
                </p>
                <p class="content-style">
                    When I am not programming, learning about new technologies, or developing buisness plans I like to ride my bike,
                    do recreational mathematics, and play ultimate frisbee.
                </p>
                <p class="content-style">
                    I am a person who is focused on excecution, functionality, and viability. My goal is to make technologies
                    that are engineered with precision and designed to fit its user. I am not afraid of a challenge and enjoy
                    a good competition.
                </p>
                <p class="content-style">
                    This website is meant to introduce myself and showcase my projects online for anyone to see. Feel free
                    to message me in Contact below.
                </p>
            </div>
        </div>

        <div id="project-div" class="div1" style="background-color:rgb(96,125,139);"></div>

        <div class="project-section">
            <div class="section-header-container"><h1 class="section-header z-depth-5" style="width:250px">Projects</h1></div>
            <div class="section-content z-depth-5">
                <p class="content-style">
                    All the tiles below are projects I have been working on to enhance my knowledge of programming.
                    All code can be found on my Github account.
                </p>
            </div>
            <a target="_blank" href="/TweetTime">TweetTime</a>
            <a target="_blank" href="/routeme">Routeme</a><p>(work in progress)</p>
        </div>

        <div id="contact-div" class="div1" style="background-color:rgb(96,125,139);"></div>

        <div class="contact-section">
            <div class="section-header-container"><h1 class="section-header z-depth-5" style="width:250px">Contact</h1></div>
            <div class="section-content z-depth-5">
                <p class="content-style">
                    <a target="_blank" href="https://www.facebook.com/alex.cmrfrd">Facebook</a>
                    <a target="_blank" href="https://www.linkedin.com/profile/view?id=379887961&trk=hp-identity-name">Linkedin</a>
                    <a target="_blank" href="https://github.com/Humpo">Github</a>
                </p>
            </div>
        </div>
    </body>
</html>