<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
        <meta name="twitter:widgets:csp" content="on">

        <script data-require="jquery@1.10.1" data-semver="1.10.1" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

        <title>Post a Tweet on Twitter</title>
        <link rel="stylesheet" type="text/css" media="screen" href="https://abs.twimg.com/a/1428597205/css/tfw/intents_rosetta.bundle.css">
          <meta name="native-url" content="twitter://post">
    </head>


    <body class=" tfw en logged-out ltr nofooter noloki">

        <div id="header" role="banner">
          <div class="bar">
            <h1 class="logo">
              <a class="alternate-context" href="https://www.twitter.com/home">Twitter</a>
            </h1>

            <div id="not-logged-in">
              <a class="register alternate-context" href="https://twitter.com/signup?context=webintent">Sign up</a>
            </div>
          </div>
        </div>

        <div id="bd" role="main">

        <h2 class="action-information">About us</h2>

        <div class="sign-in">
            <p>
              TweetTime was made at Bitcamp 2015 by <a href="https://www.linkedin.com/in/ajcomerford">Alexander Comerford</a> and Charlie Summers. We sought
              out to help Twitter users to be able to find the perfect hashtag for their tweet.
              Using the Twitter REST API and natural language processing we find the best hashtag to
              give your tweet the reach it deserves.
            </p>
        </div>

    </body>

</html>